@import "./reset";
@import "./variables/global";
@import "./themes/normal";
@import "./themes/dark";
@import "./themes/kanagawa";

body {
    font: var(--font-m);
    color: var(--primary-color);
    background: linear-gradient(var(--inverted-bg-color) 350px, var(--bg-color) 350px 100%);
}

.app {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.app_redesigned {
    background: var(--bg-redesigned);
    min-height: 100vh;
    font: var(--font-m-redesigned);
    color: var(--text-redesigned);
}

.app_modal,
.app_drawer {
    font: var(--font-m);
    color: var(--primary-color);
}

.content-page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 100;
}

// scrollbar styling
*::-webkit-scrollbar {
    width: 12px;               /* ширина scrollbar */
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--light-bg-redesigned);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--icon-redesigned);    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 2px solid var(--accent-redesigned);  /* padding вокруг плашки */
}
