@import "./reset";
@import "./variables/global";
@import "./themes/normal";
@import "./themes/dark";
@import "./themes/violet";

body {
    font: var(--font-m);
    color: var(--primary-color);
    background: linear-gradient(var(--inverted-bg-color) 350px, var(--bg-color) 350px 100%);
}

.app {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.content-page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 100;

    // max-width: 90%;
}

// scrollbar styling
*::-webkit-scrollbar {
    width: 12px;               /* ширина scrollbar */
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent;        /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--inverted-primary-color);    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 2px solid var(--primary-color);  /* padding вокруг плашки */
}
