.sidebar {
    height: calc(100vh - var(--navbar-height));
    min-width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: min-width 0.3s;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.lang {
    margin-left: 20px;
}

.collapseBtn {
    position: absolute;
    right: calc(50% - 5px);
    bottom: calc(50% - 5px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--inverted-bg-color);
    border: solid 3px var(--bg-color);
    height: 10px !important;
    width: 10px !important;
    transition: 0.3s all;
    transition-delay: 1s;
    pointer-events: all;
}

.strokeTogleButton {
    stroke: var(--inverted-bg-color);
    display: block;
    opacity: 0;
    transition: 0.2s opacity;
    transition-delay: 1s;
}

.sideBarToggleWrapper {
    background: transparent;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    right: -30px;
    top: calc(50% - 60px);
    pointer-events: all;

    &:hover {
        .collapseBtn {
            right: calc(50% - 20px);
            bottom: calc(50% - 20px);
            height: 40px !important;
            width: 40px !important;
            transition: 0.4s all;
            background-color: var(--bg-color);
        }

        .strokeTogleButton {
            opacity: 1;
            transition: 0.3s opacity;
        }
    }
}

.items {
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.collapsed {
    min-width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
        align-items: center;
    }

    .lang {
        margin-left: 0;
    }
}
