.item {
    transition: 0.15s color, 0.15s fill;

    .icon {
        transition: 0.15s color, 0.15s fill;
        fill: var(--primary-color);
    }

    &:hover {
        fill: var(--primary-action-color);
        color: var(--primary-action-color);

        .icon {
            fill: var(--primary-action-color);
            color: var(--primary-action-color);
        }
    }
}

.link {
    opacity: 1;
    transition: opacity 0.3s 0.1s, width 0.3s 0.1s;
    white-space: nowrap;
}

.collapsed {
    .link {
        opacity: 0;
        width: 0;
        transition: opacity 0.3s;
    }
}
