// .app.dark {
// временный фикс для работы со сторибуком
.app_dark_theme {
    --bg-color: #041239;
    --inverted-bg-color: #041239;

    // акцентный цвет
    --primary-color: #fff;
    --inverted-primary-color: #fff;

    // action-color
    --primary-action-color: rgb(14 161 14);

    // текст и тд
    --secondary-color: #fff;
    --inverted-secondary-color: #fff;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #111c43;

    // sidebar
    --sidebar-bg: #111c43;

    // card
    --card-bg: #111c43;

    // listbox
    --listbox-bg: #111c43;

    // redesigned
    --dark-bg-redesigned: #090f11;
    --bg-redesigned: #0c1214;
    --light-bg-redesigned: #151c1f;
    --text-redesigned: #dbdbdb;
    --hint-redesigned: #555;
    --cancel-redesigned: #d95757;
    --save-redesigned: #6cd98b;
    --icon-redesigned: #74a2b2;
    --accent-redesigned: #5ed3f3;
    --error-card: rgb(53 14 14);
}
