// .app.light {
// временный фикс для работы со сторибуком
:root {
    --bg-color: #dcd7ba;
    --inverted-bg-color: #1e1f28;

    // акцентный цвет
    --primary-color: #2d4f67;
    --inverted-primary-color: #dcd7ba;

    // action-color
    --primary-action-color: #fe5d62;

    // текст и тд
    --secondary-color: #2a2a37;
    --inverted-secondary-color: #bfa36e;

    // skeleton
    --skeleton-color: #bfa36e;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #bfa36e;

    // card
    --card-bg: #d5cfad;
}
