// Линтер срет на комменты, потом удалить строку ниже
/* stylelint-disable scss/double-slash-comment-whitespace-inside */
// .app.light {
// временный фикс для работы со сторибуком
:root {
    --bg-color: #939393; //#f7f8f9;
    --inverted-bg-color: #204055; //#20a5bd

    // акцентный цвет
    --primary-color: #3080ff; //#344666;
    --inverted-primary-color: #fff;

    // action-color
    --primary-action-color: #fe5d62;

    // текст и тд
    --secondary-color: #2a2a37;
    --inverted-secondary-color: #fff;

    // skeleton
    --skeleton-color: #20a5bd;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #20a5bd;

    // sidebar
    --sidebar-bg: #312418cc; //#f7f8f9;

    // card
    --card-bg: #fff;

    // listbox
    --listbox-bg: #fff;
}
