// .app.light {
// временный фикс для работы со сторибуком
:root {
    --bg-color: #f7f8f9;
    --inverted-bg-color: #0ccdef;

    // акцентный цвет
    --primary-color: #344666;
    --inverted-primary-color: #fff;

    // action-color
    --primary-action-color: #fe5d62;

    // текст и тд
    --secondary-color: #2a2a37;
    --inverted-secondary-color: #fff;

    // skeleton
    --skeleton-color: #0ccdef;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #0ccdef;

    // sidebar
    --sidebar-bg: #f7f8f9;

    // card
    --card-bg: #fff;

    // listbox
    --listbox-bg: #fff;
}
