.app_violet_theme {
    --bg-color: #faf4fb;
    --inverted-bg-color: #5e69ee;
    --primary-color: #39afea;
    --secondary-color: #5e69ee;
    --inverted-primary-color: #f4f4fb;
    --inverted-secondary-color: #39afea;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #d5d5d7;
}
