.SettingsDrawer {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: flex-end;
}

.opened {
    pointer-events: auto;
    opacity: 1;
    z-index: var(--modal-z-index);

    .content {
        transform: translateX(0%);
    }
}

.sheet {
    z-index: var(--modal-z-index);
    position: fixed;
    height: 96vh;
    width: 100vw;
    top: 2vh;
    border-radius: 12px 0 0 12px;
    background: var(--light-bg-redesigned);
    touch-action: none;
    padding: 15px;
}

.settingsWrapper {
    height: 100%;
    width: 50%;
}
