.articleDetailsPage {
    max-width: 100%;
}

.commentTitle {
    margin-top: 20px;
}

.recommendations {
    justify-content: start;
    max-width: 100%;
    margin-top: 20px;

    // flex-wrap: nowrap;
    // overflow-y: hidden;
    // overflow-x: auto;
}
