.navbar {
    width: calc(100% - 40px);
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    position: sticky;
    top: 0;
    z-index: 5000;
}

.links {
    margin-left: auto;

    // TODO не подтягивает цвет из кнопки, пофиксить
    color: var(--inverted-primary-color);
}

.dropdown {
    margin-left: auto;
}

.link {
    margin: 0 10px;
}
