.navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
}

.links {
    margin-left: auto;

    // TODO не подтягивает цвет из кнопки, пофиксить
    color: var(--inverted-primary-color);
}

.link {
    margin: 0 10px;
}
