.pageLoader {
    min-height: calc(100vh - var(--navbar-height));
    display: flex;
    justify-content: center;
    align-items: center;

    // Фикс скачков сайдбара (при тогле ширины)
    flex-grow: 1;
}
