.сard {
    padding: 15px;
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 5%) 0 1.25rem 1.6875rem 0;
}

.normal {
    background: var(--card-bg);
}

.outlined {
    border: 1px solid var(--primary-color);
}

.clear {
    background: var(--bg-color);
}

.max {
    width: 100%;
    max-width: 100%;
}
